footer{
    width: 100vw;
    padding: 1em;
    background-color: rgb(219, 219, 219)!important;
    color: grey;
}

footer a{
    color: red;
}

footer a:first-child{
    color: grey;
}

footer .container{
    justify-content: start;
}
footer ul{
   padding-right: 10vw;
   padding-left: 0;
}
footer ul li{
    list-style: none;
}